.search-container {
  position: relative;
  height: 3.25rem;
  margin-bottom: 1.4rem;
  display: flex;
  align-items: center;
}
.search-element {
  background-color: white;
  font-size: 1.125rem;
  color: rgb(114, 126, 142);
  flex: 1;
  height: 2.25rem;
  border: none;
  font-size: 1.125rem;
  border-radius: 10px;
  width: 100%;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: gray;
  }
}
